/* #525564 #74828F #96C0CE #BEB9B5 #C25B56 #FEF6EB */

html, body {
	margin: 0;
	padding: 0;
	background-color: #525564;
	font-family: 'Lato', sans-serif;
}

.col {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0;
	padding: 0;
}

h2 {
	color: #fff;
	margin: 20px 0 -20px 20px;
}

.info-header {
	margin: 20px 0 0 20px;
}

.info-container {
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
	width: 180px;
}

.info {
	color: #fff;
	z-index: 100;
}

.info i {
	width: 22px;
}

.info-caption {
	width: 70px;
}

.info-value {
	float: right;
}

.disconnected {
	color: #999999;	
}

canvas {
	position: absolute;
	top: 0;
}

.joystick {
	display: table-cell;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #96C0CE;
	position: relative;
	vertical-align: middle;
}

.joystick-fill {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-color: #74828F;
	margin: auto;
	border: 5px solid #525564;
	position: relative;
}

.joystick-knob {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #96C0CE;
	margin: auto;
}

.c-btn {
	color: #96C0CE;
	border: 2px solid #96C0CE;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	
	-webkit-transition: all 0.300s;
    transition: all 0.300s;
}

.c-btn:hover {
	background-color: #96C0CE;
	color: #fff;
}

.buttons {
	position: absolute;
	top: 25px;
	right: 25px;
}
