/* Color Palette: #525564 #74828F #96C0CE #BEB9B5 #C25B56 #FEF6EB */

html, body {
    margin: 0;
    padding: 0;
	background-color: #525564;
	font-family: 'Lato', sans-serif;
}

.header {
    color: #fff;
}

h2 {
	margin: 20px 0 -20px 20px;
}

.info-header {
	margin: 30px 0 0 20px;
}

.info-header i {
	width: 22px;
}

.info-caption {
	width: 70px;
}

.info-value {
	float: right;
}

.disconnected {
	color: #999999;	
}

canvas {
	position: absolute;
	top: 50%;
    left: 50%;
}

.c-btn {
	color: #96C0CE;
	border: 2px solid #96C0CE;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	
	-webkit-transition: all 0.300s;
    transition: all 0.300s;
}

.c-btn:hover {
	background-color: #96C0CE;
	color: #fff;
}

.right-header {
	position: absolute;
	top: 25px;
	right: 25px;
}

.right-header form,
.right-header div {
    display: inline-block;
    vertical-align: middle;
}

.right-header form {
    margin-right: 2rem;
}

input {
    text-align: center;
    display: block;
    padding: .2rem 0;
    font-family: 'Lato', sans-serif;
    color: #525564;
    text-transform: lowercase;
}